.dropdownDiv {
    padding: 16px;
    border-bottom: 1px solid var(--ifm-toc-border-color);
    margin-top: 55px;
}

.docSidebarContainerHidden_DPk8 .dropdownDiv,
[class*="docSidebarContainerHidden"] .dropdownDiv {
  display: none;
}

@media (max-width: 1011px) {
  .dropdownDiv {
    margin-top: 0;
  }
}